@import "./design/system";
/* OOCSS */



/* component styles */

.modal-content {
  background: white;
  width: 855px;
  height: 460px;
  /*padding: @space-lg;*/
  overflow-y: auto;
	font-family: arial;
}
